.btn {
	border-radius: 10px;
	padding: 0.4rem 1rem;
	border-style: none;
	background-color: $btn-bgc;
	color: white;
	&:focus {
		outline: none;
	}
	&:active {
		background-color: $btn-bgc--dark;
	}
	&:hover {
		cursor: pointer;
	}
}
